<div class="mat-elevation-z2 pt-2">
  <div style="margin-bottom: 10px">
    <mat-form-field
      style="margin-left: 5px; margin-right: 5px; width: 210px"
    >
      <mat-label>Selected columns</mat-label>
      <mat-select [formControl]="columnsControl"
                  multiple
                  (selectionChange)="_changeColumns($event)"
      >
        <mat-select-trigger>
          {{columnsControl.value ?
          columnModel[columnsControl.value[0]]?.view : ''}}
          <span *ngIf="columnsControl.value?.length > 1"
                class="additional-selection"
          >
                                (+{{columnsControl.value?.length - 1}}
            {{columnsControl.value?.length === 2 ? 'other' : 'others'}})
                            </span>
        </mat-select-trigger>
        <mat-option
          *ngFor="let column of columnModel | toList"
          [value]="column.key"
        >
          {{column.value.view}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button
      mat-raised-button
      (click)="_resetFilters()"
    >
      Reset
    </button>
  </div>
  <asb-table
    [displayedColumns]="displayedColumns"
    [columnModel]="columnModel"
    [data]="data"
    [paginatorOptions]="[5, 10, 25, 100, 500, 1000]"
  ></asb-table>
</div>
