<div class=" pt-2">
  <div style="margin-bottom: 10px;
   display: flex; flex-wrap: wrap;
   align-items: center;
   justify-content: space-between" >
    <div>
    <mat-form-field
      style="margin-left: 5px; margin-right: 5px; width: 210px"
    >
      <mat-label>Selected columns</mat-label>
      <mat-select [formControl]="columnsControl"
                  multiple
                  (selectionChange)="_changeColumns($event)"
      >
        <mat-select-trigger>
          {{columnsControl.value ?
          columnModel[columnsControl.value[0]]?.view : ''}}
          <span *ngIf="columnsControl.value?.length > 1"
                class="additional-selection small-font"
          >
                                (+{{columnsControl.value?.length - 1}}
            {{columnsControl.value?.length === 2 ? 'other' : 'others'}})
                            </span>
        </mat-select-trigger>
        <mat-option
          *ngFor="let column of columnModel | toList"
          [value]="column.key"
        >
          {{column.value.view}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button
      style="margin-right: 5px"
      mat-raised-button
      (click)="_resetFilters()"
    >
      Reset
    </button>
    <button
      mat-raised-button
      (click)="downloadTable()"
    >
      <mat-icon svgIcon="download"></mat-icon>
      Download table
    </button>
    </div>
<!--    <mat-menu #downloadMenu>-->
<!--      <button-->
<!--        mat-menu-item-->
<!--        (click)="chooseFormat('excel')"-->
<!--      >-->
<!--        Excel-->
<!--      </button>-->
<!--      <button-->
<!--        mat-menu-item-->
<!--        (click)="chooseFormat('tab')"-->
<!--      >-->
<!--        Tab-separated-->
<!--      </button>-->
<!--    </mat-menu>-->
    <mat-button-toggle-group
      class="mt-2 mt-sm-0"
      [value]="groupValue"
      (change)="_groupToggled($event)"
    >
      <mat-button-toggle
        [value]="false"
      >
        Collapsed
      </mat-button-toggle>
      <mat-button-toggle
        [value]="true"
      >
        Expanded
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <asb-table
    [displayedColumns]="displayedColumns"
    [columnModel]="columnModel"
    [data]="data"
    [pageSize]="50"
    [paginatorOptions]="[5, 10, 25, 100, 500, 1000]"
  ></asb-table>
</div>
<ng-template #genomePositionViewTemplate let-row="row">
  <div>
          <span>{{row?.chr}}:{{row?.pos}}&nbsp;<span style="color: black"><strong
            [ngStyle]="{'color': colors[row.refBase]}"
          >{{row.refBase}}</strong>
                  <span>></span>
                  <strong
                    [ngStyle]="{'color': colors[row.altBase]}"
                  >{{row.altBase}}</strong>
              </span>
          </span>
  </div>
</ng-template>
<ng-template #downloadSelectType>
  <h1
    style="display: flex; justify-content: space-between; margin-bottom: 0;"
    mat-dialog-title
  >
    <button mat-dialog-close
            mat-icon-button tabindex="-1">
      <mat-icon svgIcon="clear"></mat-icon>
    </button>
  </h1>
  <div mat-dialog-content style="max-height: 80vh">

  </div>
</ng-template>
<ng-template #fdrViewTemplate let-value="value">
  <span style="white-space: nowrap" [innerHTML]="writeScientificNum(value, 2)"></span>
</ng-template>
<ng-template #dbSnpViewTemplate let-value="value">
  <a
    target="_blank"
    rel="noopener noreferrer"
    [href]="'https://www.ncbi.nlm.nih.gov/snp/' + value"
  >
    {{value}}</a>
</ng-template>
