<div class="container mat-elevation-z2 pb-3">
  <h4 class="border-bottom border-info">ANANASTra report ({{ticket}})
    <span
      *ngIf="!(fileStatisticsLoading$ | async)"
    >
      {{(fileStatistics$ | async)?.dateCreated | date: 'medium'}}
    </span>
  </h4>
  <div class="centered-spinner" *ngIf="fileStatisticsLoading$ | async">
    <div class="help-message">

    Please wait, the annotation of your list may take a few minutes depending on the number of submitted SNPs
    </div>
    <mat-progress-bar mode="query"></mat-progress-bar>
  </div>
  <div *ngIf="!(fileStatisticsLoading$ | async) && (fileStatistics$ | async) as fileStatistics">
    <h5 >{{fileStatistics.metaInfo.asbCount}} SNPs exhibiting allele-specific binding of
      transcription factors found among user-submitted
      {{fileStatistics.metaInfo.totalSNPs}} SNPs</h5>
    <astra-ticket-stats
      [chartData]="fileStatistics$ | async"
    ></astra-ticket-stats>
    <ng-container>
      <mat-tab-group
        #tabGroup
        mat-align-tabs="center"
        dynamicHeight
        (selectedIndexChange)="tabIndexChanged($event)"
        animationDuration="0ms"
      >
        <mat-tab label="Transcription factors">
          <ng-template matTabContent>
            <div class="mx-1 pt-1" *ngIf="(tfTableData$ | async) as tfTableData">
              <astra-ticket-table-preview

                *ngIf="!tfTableData?.loading; else loadingTemplate"
                [data]="tfTableData?.data"
                [tfOrCl]="'tf'"
              >
              </astra-ticket-table-preview>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab label="Cell types">
          <ng-template matTabContent>
            <div class="mx-1 pt-1" *ngIf="(clTableData$ | async) as clTableData">
              <astra-ticket-table-preview
                *ngIf="!clTableData?.loading; else loadingTemplate"
                [data]="clTableData?.data"
                [tfOrCl]="'cl'"
              >
              </astra-ticket-table-preview>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </ng-container>
  </div>
</div>

<ng-template #loadingTemplate>
  <div>
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</ng-template>
