<div>
<mat-form-field appearance="outline" style="width: 80vw" floatLabel="auto">
  <mat-label>Provide identifiers</mat-label>
  <textarea
    [formControl]="textAreaControl"
    matInput
    cdkTextareaAutosize
    cdkAutosizeMinRows="10"
    cdkAutosizeMaxRows="15"
  >
      </textarea>
</mat-form-field>
<div class="file-container"
     astraDragDrop
     (fileDropped)="fileDropped($event)"
>
  <input
    hidden
    #fileDropRef
    type="file"
    onclick="value = null"
    (change)="fileBrowseHandler($event.target?.files)"
  >
  <img height="50px" src="../../../../../assets/images/cloud.svg" alt="">
  <h5>Drag and drop file here</h5>
  <h5>or</h5>
  <button
    style="border-radius: 25px; background: #db202f; color:white"
    mat-button
    (click)="fileDropRef.click()"
  >
    Browse for file
  </button>
</div>

<div class="single-file" *ngIf="file !== null">
  <div class="file-icon" style="width: 50px">
    <img src="../../../../../assets/images/file.svg" height="40px" alt="">
  </div>
  <div class="info">
    <div style="display: flex; position: relative; justify-content: space-between; align-items: flex-end">
      <div style="display: flex; flex-direction: column; align-items: flex-start">
      <h4 class="name">
        {{ file?.name }}
      </h4>
      <p class="size">
        {{ formatBytes(file?.size, 2) }}
      </p>
      </div>
      <h6
        style="color: #db202f"
        *ngIf="(fileProgress$ | async) === null">
        Loading error
      </h6>
    </div>
    <mat-progress-bar
      mode="determinate"
      [color]="(fileProgress$ | async) == null ? 'warn' : 'primary'"
      [value]="(fileProgress$ | async) == null ? 100 : (fileProgress$ | async)"
    ></mat-progress-bar>
  </div>

  <button mat-icon-button
          (click)="deleteFile()"
          style="align-self: flex-end"
  >
    <mat-icon svgIcon="bin"></mat-icon>

  </button>
</div>
<button
  color="accent"
  style="align-self: flex-start; margin-top: 15px; margin-left: 15px"
  mat-raised-button
  (click)="submit()"
>
  Submit
</button>
</div>
