$md-accent: (
    50 : #e9eaeb,
    100 : #c7cbcd,
    200 : #a2a8ac,
    300 : #7d858a,
    400 : #616b71,
    500 : #455158,
    600 : #3e4a50,
    700 : #364047,
    800 : #2e373d,
    900 : #1f272d,
    A100 : #75c6ff,
    A200 : #42b0ff,
    A400 : #0f9bff,
    A700 : #008ff5,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
